* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow: hidden;
  background: #00101a;
}
body {
  font-family: fino-sans, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 700;
  font-style: normal;
}
.webgl {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

#preload {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: rgb(253, 247, 233);
}

#stage {
  display: none;
}

#play-music {
  position: absolute;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
  -webkit-appearance: none;
  background: crimson;
  color: white;
  font: inherit;
  font-size: 1.5rem;
  padding: 0.75rem 2.5rem;
  border: none;
  border-radius: 1.75rem;
  cursor: pointer;
}

h1 {
  position: absolute;
  color: white;
  top: 3rem;
  left: 3rem;
  right: 3rem;
  text-align: center;
  font-size: 3rem;
}

footer {
  position: absolute;
  left: 0.5rem;
  bottom: 0.5rem;
  color: white;
  font-family: monospace;
  font-size: 14px;
  font-weight: 400;
}

a {
  color: inherit;
}

/* dialog */
.dialog__trigger,
.dialog__action {
  border: 3px solid #333333;
  background: #f1f1f1;
  padding: 15px 20px;
  font-size: 1.1rem;
  text-transform: uppercase;
  display: block;
  -webkit-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}

.dialog__trigger:hover,
.dialog__action:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  -webkit-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
  box-shadow: 0 5px 10px rgba(51, 51, 51, 0.4);
}

.dialog__trigger:focus,
.dialog__action:focus {
  outline: 0;
}

.dialog__trigger:active,
.dialog__action:active {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
}

.dialog {
  background: #f1f1f1;
  width: 70%;
  position: absolute;
  left: calc(50% - 35%);
  top: 0;
  padding: 30px;
  box-shadow: 0 10px 30px rgba(51, 51, 51, 0.4);
  border: 3px solid #333333;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 180ms ease-in;
  transition: all 180ms ease-in;
}

.dialog.dialog--active {
  top: 10%;
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
}

.dialog .dialog__close {
  display: none;
  font-size: 2rem;
  line-height: 2rem;
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
  padding: 15px;
  -webkit-transition: color 150ms ease;
  transition: color 150ms ease;
}

.dialog .dialog__close:hover {
  color: #e74c3c;
}

.dialog .dialog__title {
  font-size: 2rem;
  font-family: 'Slabo 27px', serif;
  font-weight: 100;
  margin: 0;
  padding: 0 0 15px 0;
  border-bottom: 2px solid #333333;
}

.dialog .dialog__content {
  font-family: 'Slabo 27px', serif;
  font-size: 1.1rem;
  line-height: 2rem;
  margin: 1em 0;
}

.dialog input {
  line-height: 2;
  padding: 0 1em;
}

.dialog .dialog__action {
  margin: 0;
  font-size: 1rem;
}

@media (max-width: 600px) {
  .dialog {
    width: 90%;
    left: calc(50% - 45%);
  }
}

/* loading tea */
svg.tea {
  --secondary: #33406f;
}
svg.tea #teabag {
  transform-origin: top center;
  transform: rotate(3deg);
  animation: swing 2s infinite;
}
svg.tea #steamL {
  stroke-dasharray: 13;
  stroke-dashoffset: 13;
  animation: steamLarge 2s infinite;
}
svg.tea #steamR {
  stroke-dasharray: 9;
  stroke-dashoffset: 9;
  animation: steamSmall 2s infinite;
}
@keyframes swing {
  50% {
    transform: rotate(-3deg);
  }
}
@keyframes steamLarge {
  0% {
    stroke-dashoffset: 13;
    opacity: 0.6;
  }
  100% {
    stroke-dashoffset: 39;
    opacity: 0;
  }
}
@keyframes steamSmall {
  10% {
    stroke-dashoffset: 9;
    opacity: 0.6;
  }
  80% {
    stroke-dashoffset: 27;
    opacity: 0;
  }
  100% {
    stroke-dashoffset: 27;
    opacity: 0;
  }
}

#stage-loader {
  display: none;
  height: 100%;
}

.wrapper {
  position: absolute;
  width: 200px;
  height: 2px;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}

.loader {
  height: 100%;
  display: flex;
  transform: translateZ(0);
}
.loader div {
  flex: 1;
  background: salmon;
  -webkit-animation: go 0.8s infinite alternate ease;
          animation: go 0.8s infinite alternate ease;
  box-shadow: 0 0 20px salmon;
}
.loader div:nth-child(1) {
  -webkit-animation-delay: -0.72s;
          animation-delay: -0.72s;
}
.loader div:nth-child(2) {
  -webkit-animation-delay: -0.64s;
          animation-delay: -0.64s;
}
.loader div:nth-child(3) {
  -webkit-animation-delay: -0.56s;
          animation-delay: -0.56s;
}
.loader div:nth-child(4) {
  -webkit-animation-delay: -0.48s;
          animation-delay: -0.48s;
}
.loader div:nth-child(5) {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}
.loader div:nth-child(6) {
  -webkit-animation-delay: -0.32s;
          animation-delay: -0.32s;
}
.loader div:nth-child(7) {
  -webkit-animation-delay: -0.24s;
          animation-delay: -0.24s;
}
.loader div:nth-child(8) {
  -webkit-animation-delay: -0.16s;
          animation-delay: -0.16s;
}
.loader div:nth-child(9) {
  -webkit-animation-delay: -0.08s;
          animation-delay: -0.08s;
}
.loader div:nth-child(10) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

@keyframes go {
  100% {
    background: transparent;
    flex: 10;
    box-shadow: 0 0 0 transparent;
  }
}
